@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

#loanCal {
    width: 75%;
    height: auto;
    background-color: #000;
    color: #fff;
    margin: auto;
    align-items: center;
    padding: 3%;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
}

#amount {
    width: 175px;
    height: 20px;
}

#rate {
    width: 175px;
    height: 20px;
}

#pay {
    width: 175px;
    height: 20px;
}

h2 {
    font-size: 40px;
}